<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add product</title>

    <style>
        body{
            background: cornsilk;
        }

        form{
            text-align: center;
            margin-top: 15%;
        }
    </style>

</head>
<body>

<form action="/add_product" method="post">
    <label>введите название продукта </label><br>
    <input id="name_product" maxlength="30" type="text"  /><br>  <br>

    <label>Введите артикул </label><br>
    <input id="article" maxlength="20" type="number"  /><br>  <br>

    <label>Введите цену </label><br>
    <input id="price" maxlength="20" type="number"  /><br>  <br>

    <label>Введите дату производства </label><br>
    <input id="dateM" maxlength="20" type="date"  /><br>  <br>

    //заполнить форму
</form>


</body>
</html>